# ==============================================================================
# Ciência da Computação - UFRGS | .gitignore
# ==============================================================================

# Executáveis e Binários Compilados
*.exe
*.o
*.obj
*.dll
*.so
*.dylib
*.out
*.app
*.bin
# Exceções para arquivos binários e bibliotecas estáticas didáticas essenciais:
!**/leaderboard.bin
!**/lib/apidisk.o
!**/lib/bitmap2.o
!**/lib/libsofs.a

# Java, Maven & Gradle
*.class
*.jar
*.war
*.ear
target/
.gradle/
build/

# Arquivos de Backup e Temporários de Editores
*.save
*.bak
*.swp
*.swo
*~
tempCodeRunnerFile.*
*.tmp

# Python & Machine Learning
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/
.coverage
htmlcov/
venv/
.venv/
env/
.env
catboost_info/

# Intel Quartus Prime / ModelSim / EDA
*.qws
db/
incremental_db/
simulation/
output_files/
hc_output/
.qsys_edit/
*.rpt
*.done
*.pin
*.sof
*.pof
*.summary

# IDEs e Editores de Código
.vscode/
.idea/
*.cbp.mak
*.layout
*.depend
*.code-workspace

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini
